<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block header %}
    <title>{% if page %}{{ page.title }}{% else %}{{ section.title }}{% endif %} - Owen's Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='CSS/main.css', cachebust=true) }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='CSS/dropdown.css', cachebust=true) }}">
    <script type="text/javascript" src="{{ get_url(path='JS/IngredientMult.js', cachebust=true) }}"></script>
    {% endblock header %}
</head>

<body>
    <div id="container">
        {% block content %}{% endblock content %}
    </div>
</body>

{% block post %}
{% endblock post %}

</html>