{% extends "base.html" %}
{% import "macros/parts.html" as parts %}

{% macro fpsec(section) %}
{{section.title}}
<ul>
    {% for path in section.subsections %}
    {% set s = get_section(path=path, include_pages=true) %}
    <li>{{ self::fpsec(section=s) }}</li>
    {% endfor %}
    {% for child in section.pages %}
    <li><a href='{{ child.permalink }}'>{{ child.title }}</a></li>
    {% endfor %}
</ul>
{% endmacro %}

{% block content %}
<nav id="dropdown-nav" class="no-print">
    <a class="button" href="{{ get_url(path='@/_index.md') }}">&#127968; Home</a>
    {{ parts::navbar() }}
</nav>

<h1>Owen's Recipe Website</h1>
View all recipes here:
{% set index = get_section(path='_index.md') %}

{% for path in index.subsections %}
{% set s = get_section(path=path, include_pages=true) %}
<ul>
    {{ self::fpsec(section=s) }}
</ul>
{% endfor %}
<div id="print-buttons" style="float: right">
    <a class='button' href="{{ get_url(path='admin/index.html') }}">Edit</a>
    <a class='button recipeLink' href="{{ get_url(path='@/printall.md') }}">Print All</a>
</div>
</div>
{% endblock %}

</html>