{% extends "base.html" %}
{% import "macros/recipe.html" as recipe %}
{% import "macros/parts.html" as parts %}

{% block content %}
<nav id="dropdown-nav" class="no-print">
    <a class="button" href="{{ get_url(path='@/_index.md') }}">&#127968; Home</a>
    {{ parts::navbar() }}
</nav>

{{ recipe::recipe(page=page) }}

<div id="print-buttons" style="float: right">
    <a class='button' href="{{ get_url(path='admin/index.html') }}">Edit</a>
    <a class='button' onclick="changeVal(1)">+ Serving</a>
    <a class='button' onclick="changeVal(-1)">- Serving</a>

    <div class="drop up">
        <a class="drop-button">Print</a>
        <div class="drop-content">
            <a class='recipeLink' href="{{ get_url(path='@/printall.md') }}">Print All</a>
            <a class='recipeLink' onclick="window.print()">Print Recipe</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block post %}
<script>
    initializeQuantities();
</script>
{% endblock post %}

</html>